<form name="formLogin">
	<div class="form-group" ng-class="{error: formLogin.email.$invalid && !formLogin.email.$pristine}">
		<label>Email</label> 
		<input type="email" required name="email" ng-model="user.email" class="form-control" autofocus/>
		<div class="text-danger" ng-show="formLogin.email.$dirty && formLogin.email.$invalid">
			<span ng-show="formLogin.email.$error.required">Please enter your email.</span>
			<span ng-show="formLogin.email.$error.email">This is not a valid email.</span>
		</div>
	</div>
	<div class="form-group" ng-class="{error: formLogin.password.$invalid && !formLogin.password.$pristine}">
		<label>Password</label> 
		<input type="password" name="password" ng-model="user.password" required class="form-control" ng-minlength="3" ng-maxlength="15" title="3 to 15 characters"/>
		<div class="text-danger">
			<span ng-show="formLogin.password.$dirty && formLogin.password.$error.minlength">Password must be 3 to 15 characters</span>
			<span ng-show="formLogin.password.$dirty && formLogin.password.$error.maxlength">Password must be 3 to 15 characters</span>
			<span ng-show="formLogin.password.$error.required && !formLogin.password.$pristine">Please enter your password.</span>
		</div>
	</div>
	<div class="form-group">
		<a href="#/" class="btn btn-primary">Cancel</a>
		<button class="btn btn-primary" ng-disabled="formLogin.$invalid" ng-click="login()">Login</button> 
		<span class="text-danger">{{errorMsg}}</span>
	</div>
</form>