<form name="formRegister">
	<p ng-show="error" class="text-danger"></p>
	<div class="form-group" ng-class="{error: formRegister.userName.$invalid && !formRegister.userName.$pristine}">
		<label>Username</label> 
		<input type="text" required name="userName" ng-model="user.userName" class="form-control" autofocus/>
		<div class="text-danger" ng-show="formRegister.userName.$dirty && formRegister.userName.$invalid">
		  <span ng-show="formRegister.userName.$error.required">Please enter your username.</span>
		</div>
	</div>
	<div class="form-group" ng-class="{error: formRegister.email.$invalid && !formRegister.email.$pristine}">
		<label>Email</label> 
		<input type="email" required name="email" ng-model="user.email" class="form-control"/>
		<div class="text-danger" ng-show="formRegister.email.$dirty && formRegister.email.$invalid">
		  <span ng-show="formRegister.email.$error.required">Please enter your email.</span>
		  <span ng-show="formRegister.email.$error.email">This is not a valid email.</span>
		</div>
	</div>
	<div class="form-group" ng-class="{error: formRegister.password.$invalid && !formRegister.password.$pristine}">
		<label>Password</label> 
		<input type="password" name="password" ng-model="user.password" required class="form-control" ng-minlength="3" ng-maxlength="15" title="3 to 15 characters"/>
		<div class="text-danger">
			<span ng-show="formRegister.password.$dirty && formRegister.password.$error.minlength">Password must be 3 to 15 characters</span>
			<span ng-show="formRegister.password.$dirty && formRegister.password.$error.maxlength">Password must be 3 to 15 characters</span>
			<span ng-show="formRegister.password.$error.required && !formRegister.password.$pristine" class="label label-danger">Please enter your password.</span>
			<span ng-show="(formRegister.password.$dirty && formRegister.confirm.$dirty) && (user.password != user.confirm)">Password and confirm password mismatched
			</span>
		</div>
	</div>
	<div class="form-group" ng-class="{error: formRegister.confirm.$invalid && !formRegister.confirm.$pristine}">
		<label>Confirm</label>
		<input type="password" name="confirm" ng-model="user.confirm" required class="form-control" ng-minlength="3" ng-maxlength="15" title="3 to 15 characters"/>
		<div class="text-danger">
			<span ng-show="formRegister.confirm.$dirty && formRegister.confirm.$error.minlength">Confirm password must be 3 to 15 characters</span>
			<span ng-show="formRegister.confirm.$dirty && formRegister.confirm.$error.maxlength">confirm password must be 3 to 15 characters</span>
			<span ng-show="formRegister.confirm.$error.required && !formRegister.confirm.$pristine" class="label label-danger">Please enter your confirm password.</span>
		</div>
	</div>
	<div class="form-group">
		<a href="#/" class="btn btn-primary">Cancel</a>
		<button class="btn btn-primary" ng-disabled="formRegister.$invalid" ng-click="register()">Register</button> <span class="text-danger">{{errorMsg}}</span>
	</div>
</form>