<!DOCTYPE html>
<html lang="en-US" ng-app="vietsofts">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Dự án - Phần mềm Việt</title>
	
	<meta content='Dự án - Phần mềm Việt' name='description'/>
	<meta content='Phần mềm việt, vietsofts, projects, dự án, phanmemviet' name='keywords'/>
	<meta content='index, follow' name='robots'/>
	
	<link rel="shortcut icon" href="css/images/favicon.ico" />
	<link rel="stylesheet" href="css/business.css" type="text/css" media="all" />
	<!--[if IE 6]>
		<link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" />
	<![endif]-->
	
	<script type="text/javascript" src="libs/js-compress.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="libs/bootstrap-3.2.0/css/bootstrap.min.css"/>
	<!-- Optional theme -->
	<link rel="stylesheet" href="libs/bootstrap-3.2.0/css/bootstrap-theme.min.css"/>
	
	<!-- Custom Main Code -->
    	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
</head>
<body ng-controller="MainCtrl">
<!-- Header -->
<div id="header">
	<!-- Shell -->
	<div class="shell">
		<h1 id="logo" style="margin-top: 0;"><a href="/">Phần Mềm Việt</a></h1>
		<!-- Navigation -->
		<div id="navigation">
			<ul>
			    <li ng-repeat="nav in navigation"><a ng-class="(nav.Active == true) ? 'active' : ''" ng-href="{{nav.Link}}"><span ng-bind="nav.Title"></span></a></li>
			</ul>
		</div>
		<!-- end Navigation -->
		
	</div>
	<!-- end Shell -->
</div>
<!-- end Header -->

<!-- Main -->
<div id="main">
	<!-- Shell -->
	<div class="shell">
		<!-- Go to www.addthis.com/dashboard to customize your tools -->
		<div class="addthis_native_toolbox"></div>
		<!-- Main-boxes -->
		<div class="big-box">
			<div class="big-box-b">
				<div class="big-box-t">
					<div class="container-fluid">
						<div class="row text-justify padding-content">
							<h2>Dự án phần mềm</h2>
							<p>
							Một số dự án phần mềm tiêu biểu đã được xây dựng và phát triển nhằm hỗ cung cấp những tính năng cũng như tiện ích như:
							</p>
							<ul>
								<li>Phần mềm tải toàn bộ album nhạc trên các trang: nhacso.net, mp3.zing.vn, nhaccuatui.com, nhac.vui.vn, chiasenhac.com và nhachoatau.info</li>
								<li>Phần mềm chuyển đổi font chữ cho excel (Excel converter) giúp người dùng nhanh chóng chuyển đổi toàn bộ bảng tính excel có font chữ TCVN sang Unicode dễ dàng và nhanh chóng</li>
								<li>Phần mềm web automation hỗ trợ tự động hóa trong việc lướt web cũng như thu thập dữ liệu</li>
								<li>Phần mềm email marketing giúp dễ dàng thu thập email từ các diễn đàn cũng như các trang web có cung cấp email</li>
								<li>Phần mềm tải nhạc không lời trên woim.net (hiện tại đã dừng hỗ trợ)</li>
							</ul>
							<h2>Dự án phần mềm điện thoại android</h2>
							<p>Một số tiện ích được phát triên dành riêng cho hệ điều hành android như:</p>
							<ul>
								<li>Phần mềm mã hóa và giải mã QR Code, giúp người dùng có thể tạo mã QR Code từ điện thoại của mình, bảo mật nội dung QR Code bằng mật mã, và giới hạn thời gian chia sẽ cho người dùng khác</li>
								<li>PHần mềm đọc thông tin mã QR code trên thẻ bảo hiểm y tế, giúp đọc các thông tin cũng như chia sẽ những thông tin này qua SMS hoặc email</li>
							</ul>
							<h2>Tiện ích và ứng dụng trực tuyến</h2>
							<p>Một số tiện ích trực tuyến giúp người sử dụng không cần phải cài đặt phần mềm trên máy tính hoặc điện thoại vẫn có thể dùng được những tính năng của một số phần mềm mà mình đã phát triển cho điện thoại và máy tính.</p>
							<ul>
								<li>Tiện ích tạo mã QR Code trực tuyến, hỗ trợ tạo mã QR Code bằng văn bản, tin nhắn sms, nội dung email, thông tin cá nhân, địa điểm và trang web</li>
								<li>Tiện ích lấy email từ website trực tuyến, hỗ trợ lấy địa chỉ email từ website, xuất ra excel để quản lý</li>
								<li>Tiện ích đọc thẻ BHYT trực tuyến, hỗ trợ đọc thẻ BHYT bằng hình ảnh sau đó cho ra kết quả</li>
								<li>Tiện ích nhận diện chữ viết bằng hình ảnh, hỗ trợ nhận diện chữ viết tiếng Việt từ hình ảnh</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end Main-boxes -->
	</div>
	<!-- end Shell -->
</div>
<!-- end Main -->

<!-- Footer -->
<div id="footer">
	<!-- Shell -->
	<div class="shell">
		<p class="left">
			<span ng-repeat="nav in footer"><a ng-href="{{nav.Link}}" ng-bind="nav.Title"></a>&nbsp;<span ng-bind="nav.Minus"></span></span>
		</p>
		<p class="text-right"> &copy; 2014 by <a href="http://www.thangdc.com" target="_blank">ThangDC</a>. Thiết kế bởi <a href="http://chocotemplates.com" target="_blank" title="The Sweetest CSS Templates WorldWide">ChocoTemplates.com</a></p>
	</div>
	<!-- end Shell -->
</div>
<!-- end Footer -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5198d5a47312f037" async="async"></script>
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56112101-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
