<form ng-submit="submitPost()" ng-show="signedIn()">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Title" ng-model="post.title" required>
	</div>
	<div class="form-group">
		<textarea class="form-control" placeholder="Content" ng-model="post.content" required></textarea>
        <input type="hidden" ng-model="post.picture"/>
	</div>
    <div class="clearfix"></div>
	<div class="pull-left">
        <input type="file" style="display: none" name="image" id="picture"/>
        <a href="" ng-click="upload()"><i class="glyphicon glyphicon-camera"></i></a>
        <output id="list"></output>
    </div>
    <div class="pull-right">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
    <div class="clearfix"></div>
    <div id="status"></div>
</form>
<br/>
<div class="posts-page">
	<div class="panel panel-default" ng-repeat="post in posts | orderBy:'-$id'" style="margin-bottom: 5px;">
		<div class="panel-heading">
			<a ng-href="#/posts/{{post.$id}}">
			  {{ post.title }}
			</a>
		</div>
		<div class="panel-body">
            <div class="media">
                <a class="pull-left" ng-href="#/posts/{{post.$id}}">
                    <img class="media-object" ng-src="{{post.picture}}" style="height: 200px;" alt="{{post.title}}"/>
                </a>
                <div class="media-body">
                    <div ng-bind-html="post.content"></div>  
                </div>
            </div>
		</div>
		<div class="panel-footer">
            <a href=""><i class="glyphicon glyphicon-thumbs-up"></i> 0</a> 
			<i class="glyphicon glyphicon-user"></i> 
			<a ng-href="#/users/{{ post.creatorUID }}">{{ post.creator }}</a>&nbsp;
			<i class="glyphicon glyphicon-time"></i> {{ post.createDate }} 
			<a href="" ng-click="deletePost(post)" ng-show="user.uid === post.creatorUID">
				<i class="glyphicon glyphicon-trash"></i> Delete
			</a>
		</div>
	</div>
</div>