<div class="posts-page">

	<div>
		<a class="btn btn-primary" ng-href="#/posts"><i class="glyphicon glyphicon-chevron-left"></i> 
			Back to Posts
		</a>
		<br/><br/>
	</div>

	<div class="posts-page">
		<div class="panel panel-default" style="margin-bottom: 15px;">
			<div class="panel-heading">
				<a ng-href="{{post.url}}" target="_blank">
				  {{ post.title }}
				</a>
			</div>
			<div class="panel-body" ng-bind-html="post.content"></div>
			<div class="panel-footer">
                <i class="glyphicon glyphicon-thumbs-up"></i> <a href="">0</a> 
				<i class="glyphicon glyphicon-user"></i> 
				<a ng-href="#/users/{{ post.creatorUID }}">{{ post.creator }}</a>&nbsp;
				<i class="glyphicon glyphicon-time"></i> {{ post.createDate }} 
				<a href="" ng-click="deletePost(post)" ng-show="user.uid === post.creatorUID">
					<i class="glyphicon glyphicon-trash"></i> Delete
				</a>
			</div>
		</div>
	</div>

  <div ng-repeat="comment in comments" class="panel panel-default">
      <div class="panel-body">
		{{ comment.text }}
	  </div>
      <div class="panel-footer">
        <a ng-href="#/users/{{ comment.creatorUID }}">
          <i class="glyphicon glyphicon-user"></i> {{ comment.creator }}
        </a>
		<i class="glyphicon glyphicon-time"></i> {{ comment.createDate }}
		<a href="" ng-href=""
			ng-click="deleteComment(comment)"
			ng-show="signedIn() && comment.creatorUID === user.uid">
			<i class="glyphicon glyphicon-trash"></i> Delete
		</a>
      </div>
  </div>

  <div class="cmt-form">
    <div ng-hide="signedIn()">
      <p><a href="#/login">Sign in</a> to post a comment</p>
    </div>

    <form ng-show="signedIn()" ng-submit="addComment()">
      <textarea
        ng-model="commentText"
        placeholder="Post a Comment"
        class="form-control"></textarea><br />
      <input type="submit" value="Post Comment" class="btn btn-primary" />
    </form>
  </div>

</div>